<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.carfrida.boot">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:name=".App"
        android:allowBackup="false"
        android:label="CarFridaBoot"
        android:persistent="true"
        android:supportsRtl="true">

        <receiver
            android:name=".BootReceiver"
            android:enabled="true"
            android:exported="false"
            android:directBootAware="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".BootService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync"/>
    </application>

</manifest>
